WKCloseIncidentBenignTrueEmail.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_TestCloseandEmail_name": {
            "defaultValue": "TestCloseandEmail",
            "type": "String"
        },
        "connections_azuresentinel_externalid": {
            "defaultValue": "/subscriptions/70e88850-2ca9-42a0-a36a-f4dfc5b1c708/resourceGroups/OMS-ResourceGroup/providers/Microsoft.Web/connections/azuresentinel",
            "type": "String"
        },
        "connections_office365_externalid": {
            "defaultValue": "/subscriptions/70e88850-2ca9-42a0-a36a-f4dfc5b1c708/resourceGroups/OMS-ResourceGroup/providers/Microsoft.Web/connections/office365",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_TestCloseandEmail_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Update_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Incident ID: @{body('Alert_-_Get_incident')?['id']}<br>\n<br>\nIncident Description: @{body('Alert_-_Get_incident')?['properties']?['description']}<br>\n<br>\nIncident URL: @{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}<br>\n<br>\nAdditional Information:<br>\n@{body('Update_incident')?['properties']?['classification']}<br>\n@{body('Update_incident')?['properties']?['classificationComment']}<br>\n@{body('Update_incident')?['properties']?['classificationReason']}</p>",
                                    "Subject": " @{body('Alert_-_Get_incident')?['properties']?['title']}: Closed Benign True",
                                    "To": "derek.swenningsen@meetascent.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Update_incident": {
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "classification": {
                                        "ClassificationAndReason": "Benign Positive - Suspicious But Expected",
                                        "ClassificationReasonText": "Alert was triggered on expected activity"
                                    },
                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                    "severity": "Informational",
                                    "status": "Closed"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/Incidents"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel_1": {
                                "connectionId": "[parameters('connections_azuresentinel_externalid')]",
                                "connectionName": "azuresentinel",
                                "id": "/subscriptions/70e88850-2ca9-42a0-a36a-f4dfc5b1c708/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel"
                            },
                            "office365": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/70e88850-2ca9-42a0-a36a-f4dfc5b1c708/providers/Microsoft.Web/locations/eastus/managedApis/office365"
                            }
                        }
                    }
                }
            }
        }
    ]
}