MCAS/CloseMCASAlert.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "<PlaybookName>",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "AzureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitorLogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "name": "[parameters('PlaybookName')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Alert_-_Get_incident')?['properties']?['RelatedAlertIds']",
                            "actions": {
                                "Parse_JSON": {
                                    "runAfter": {
                                        "Run_query_and_list_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Run_query_and_list_results')?['value']",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "alertid": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "alertid"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                },
                                "Run_query_and_list_results": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "SecurityAlert\n| summarize arg_max(TimeGenerated, *) by SystemAlertId\n| where SystemAlertId in(\"@{items('For_each')}\")\n| extend LinksDynamicArray=parse_json(ExtendedLinks) | mvexpand LinksDynamicArray\n| extend Links = tostring(parse_json(LinksDynamicArray).Href)\n| where Links contains \"/alerts/\"\n| extend alertid = split(Links, \"/\", 5) \n| extend alertid = tostring(alertid[0])\n| project alertid",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "OMS-ResourceGroup",
                                            "resourcename": "Ascent-Sentinel-Workspace",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "70e88850-2ca9-42a0-a36a-f4dfc5b1c708",
                                            "timerange": "Set in query"
                                        }
                                    }
                                },
                                "Switch": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Case": {
                                            "case": "BenignPositive",
                                            "actions": {
                                                "For_each_3": {
                                                    "foreach": "@body('Parse_JSON')",
                                                    "actions": {
                                                        "HTTP_3": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "allowContact": true,
                                                                    "comment": "Closed in Sentinel. Incident ID: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']}",
                                                                    "contactEmail": " soc@meetascent.com",
                                                                    "feedbackText": "Feedback text",
                                                                    "filters": {
                                                                        "id": {
                                                                            "eq": [
                                                                                "@{items('For_each_3')['alertid']}"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "reasonId": 4,
                                                                    "sendFeedback": true
                                                                },
                                                                "headers": {
                                                                    "Authorization": "Token <PUT API KEY HERE>"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://ascentclouds.portal.cloudappsecurity.com/api/v1/alerts/close_benign/"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                }
                                            }
                                        },
                                        "Case_2": {
                                            "case": "FalsePositive",
                                            "actions": {
                                                "For_each_4": {
                                                    "foreach": "@body('Parse_JSON')",
                                                    "actions": {
                                                        "HTTP_4": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "allowContact": true,
                                                                    "comment": "Closed in Sentinel. Incident ID: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']}",
                                                                    "contactEmail": " soc@meetascent.com",
                                                                    "feedbackText": "Feedback text",
                                                                    "filters": {
                                                                        "id": {
                                                                            "eq": [
                                                                                "@{items('For_each_4')['alertid']}"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "reasonId": 4,
                                                                    "sendFeedback": true
                                                                },
                                                                "headers": {
                                                                    "Authorization": "Token TlxMSkFbTENAWktcAVpcAV9AXVtOQwFMQ0BaS05fX1xKTFpdRltWAUxAQlMeH00WGElOGUkcGBgdHRlKGRYXSxYcGEkbGEpLHR0bHhcZGx5JSRZKThpNGBkYGhsbHRgcGEpKHUsfTU1JHhhN"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://ascentclouds.portal.cloudappsecurity.com/api/v1/alerts/close_false_positive/"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                }
                                            }
                                        },
                                        "Case_3": {
                                            "case": "TruePositive",
                                            "actions": {
                                                "For_each_2": {
                                                    "foreach": "@body('Parse_JSON')",
                                                    "actions": {
                                                        "HTTP": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "allowContact": true,
                                                                    "comment": "Closed in Sentinel. Incident ID: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']}",
                                                                    "contactEmail": " soc@meetascent.com",
                                                                    "feedbackText": "Feedback text",
                                                                    "filters": {
                                                                        "id": {
                                                                            "eq": [
                                                                                "@{items('For_each_2')['alertid']}"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "sendFeedback": true
                                                                },
                                                                "headers": {
                                                                    "Authorization": "Token TlxMSkFbTENAWktcAVpcAV9AXVtOQwFMQ0BaS05fX1xKTFpdRltWAUxAQlMeH00WGElOGUkcGBgdHRlKGRYXSxYcGEkbGEpLHR0bHhcZGx5JSRZKThpNGBkYGhsbHRgcGEpKHUsfTU1JHhhN"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://ascentclouds.portal.cloudappsecurity.com/api/v1/alerts/close_true_positive/"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@body('Alert_-_Get_incident')?['properties']?['CloseReason']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}